.footer-main {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(66, 66, 66);
  border-radius: 0px 0px 15px 15px;
}
.footer-main img {
  max-height: 40px;
  width: auto;
}
