* {
  box-sizing: border-box;
}

body {
  font-family: cursive;
  margin: 0;
}

main {
  padding: 36px;
}

.header-main {
  display: flex;
  align-items: center;
  height: 65px;
  background: lightcoral;
  color: white;
  padding: 20px;
}

.header-img {
  height: 100%;
  margin-right: 10px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header-right {
  font-size: 1rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

/* form input section */
.form-control {
  border-radius: 15px;
  border: 1px solid #d5d4d8;
  padding: 20px;
}

/* form button */
.form-btn {
  grid-column: 1 / -1;
  border-radius: 15px;
  background: lightcoral;
  color: white;
  border-color: transparent;
  cursor: pointer;
}
.form-btn:hover {
  background: rgb(241, 28, 28);
}

.meme-body {
  position: relative;
}

.meme-img {
  max-width: 100%;
  border-radius: 3px;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
.meme-txt {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
